<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scaleble=no, initial-scale=1.0, maximum-scale=1.0">
	<title>召喚圖板緊急地下城查詢器 beta - v0.0.0.1</title>
	<link rel="stylesheet" href="css/index_style.css" />
</head>
<body>

<div id="results"></div>
<br />
<br />
屬性經驗值增減:<br />
火屬性育成 -> 火+ 水- 木-<br />
水屬性育成 -> 火- 水+ 木-<br />
木屬性育成 -> 火- 水- 木+<br />
光屬性育成 -> 光+ 闇-<br />
闇屬性育成 -> 闇+ 光-<br />
<br />
屬性相剋倍數:<br />
火 -> 木 -> 水 -> 火 (1.5)<br />
火 -> 水 -> 木 -> 火 (0.8)<br />
光 -> 闇 -> 光(1.5)<br />
同屬性 (1) <br /><br />

ex:<br />
我方(火光) -> 敵方(木闇)<br />

火 -> 木 (1.5)<br />
火 -> 闇 (1)<br />
光 -> 木 (1)<br />
1.5 * 1 * 1 = 1.5 (傷害倍數)<br /><br />

我方(火光) <- 敵方(木闇)<br />

火 <- 木 (0.8)<br />
光 -> 木 (1)<br />
火 -> 闇 (1)<br />
0.8 * 1 * 1 = 0.8 (傷害倍數)<br /><br />

<br />
<input type="button" value="back" onclick="history.back();"/>

<script type="text/javascript" src="js/global.js"> </script>
<script type="text/html" id="user_tmpl">
	<ul id="menu">
	<% for ( var i = 0; i < links.length; i++ ) { %>
	<li><a href="<%=links[i].url%>"><%=links[i].name%></a></li>
	<% } %>
	</ul>
</script>
<script type="text/javascript">
		
	var links = [
		{"name":"相關資訊 dev!", 		"url":"info.html"},
		{"name":"戰棋列表 dev!",	 	"url":"monster_list.html"},
		{"name":"鷹皇出沒時間表",		"url":"index.html"},
		{"name":"留言板",				"url":"guestbook.html"}
	];

	document.getElementById("results").innerHTML = tmpl("user_tmpl", links);

</script>

</body>
</html>