<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scaleble=no, initial-scale=1.0, maximum-scale=1.0">
	<title>召喚圖板緊急地下城查詢器 beta - v0.0.0.1</title>
	<link rel="stylesheet" href="css/index_style.css" />
</head>
<body>

<div id="results"></div>
<br />
<br />
test!
<br />
<input type="button" value="back" onclick="history.back();"/>

<script type="text/javascript" src="js/global.js"> </script>
<script type="text/html" id="user_tmpl">
	<ul id="menu">
	<% for ( var i = 0; i < links.length; i++ ) { %>
	<li><a href="<%=links[i].url%>"><%=links[i].name%></a></li>
	<% } %>
	</ul>
</script>
<script type="text/javascript">
		
	var links = [
		{"name":"相關資訊 dev!", 		"url":"info.html"},
		{"name":"戰棋列表 dev!",	 	"url":"monster_list.html"},
		{"name":"鷹皇出沒時間表",		"url":"index.html"},
		{"name":"留言板",				"url":"guestbook.html"}
	];

	document.getElementById("results").innerHTML = tmpl("user_tmpl", links);

</script>

</body>
</html>