ul {
  padding: 0;
  list-style: none;
}

ul#menu li {
	float: left;
	width: 24%;
	background-color: #6E6E6E;
	text-align: center;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
}

ul#menu li a {
	text-decoration: none;
	display: block;
}


div.red {
	background-color: #EFA2A1;
}

div.green {
	background-color: #C7EFA1;
}

div.blue {
	background-color: #A1C7EF;
}

div.yellow {
	background-color: #EEEFA1;
}

div.purple {
	background-color: #C9A1EF;
}